.display-time {
  display: flex;
  /* column-gap: 1px; */
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(186, 184, 184);
  font-weight: 800;
}

.countdown-value {
  color: white;
  font-size: 32px;
}
